# The following files and directories are excluded from the release archive.
.git*           export-ignore
*.md            export-ignore
Makefile        export-ignore
attic           export-ignore
benchmark       export-ignore
headache.config export-ignore
*.txt           export-ignore
play.ml         export-ignore
test            export-ignore
